<div class="container frame">
    <div class="row">
        <div class="col-sm-6 frameItem">
           <a href="#" class="linkFrame" (click)="onSelectFrame('Angular')">Angular</a>
           <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Angular-logo.png" class="frameImg">
        </div>
        <div class="col-sm-6 frameItem">
            <a href="#" class="linkFrame" (click)="onSelectFrame('SpringBoot')">Spring Boot</a>
            <img src="https://miro.medium.com/max/500/1*AbiX4LwtSNozoyfypcKvEg.png" class="frameImg">
        </div>
    </div>
</div>
