<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-languages  *ngIf="loadedFeature === 'languages'" (langDescSelected)="onDescSelected($event)"></app-languages>
    </div>

    <div class="col-sm-12">
      <app-lang-seashark *ngIf="seaSharpDesc === 'seasharp' && loadedFeature === 'languages'"></app-lang-seashark>
    </div>
    
    <div class="col-sm-12">
      <app-lang-javascript *ngIf="javaScriptDesc==='JavaScript' && loadedFeature === 'languages'" on></app-lang-javascript>
    </div>
    <div class="col-sm-12">
      <app-lang-java *ngIf="javaDesc==='Java' && loadedFeature === 'languages'"></app-lang-java>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-frameworks *ngIf="loadedFeature !== 'languages'" (frameDescSelected)="onDescFrameSelected($event)"></app-frameworks>
    </div>
    <div class="col-sm-12">
      <app-frame-angular *ngIf="angularDesc === 'Angular' && loadedFeature !== 'languages'"></app-frame-angular>
    </div>
    <div class="col-sm-12">
      <app-frame-spring-boot *ngIf="springBootDesc === 'SpringBoot' && loadedFeature !== 'languages'"></app-frame-spring-boot>
    </div>
    </div>
  </div>