.lang{
    margin-top: 7%;
    margin-bottom: 3%;
    text-align:center;
}
.linkLang{
    text-decoration: none;
    color: #0096FF;
    font-size:2rem;
}
.linkLang:hover{
    color: #5800FF;
}
.langImg{
    width:40%;
    margin-left:12%;
}
.langItem{
    background-color: #72FFFF;
}