<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="langTitle">Java</h1>
            <h2 class="langInventor">Inventor: James Gosling</h2>
            <p class="langDesc">
                Very much an object oriented language, and it has its own Virtual Machine. It is used in a lot fields, science, web developing, android applications..
                In web developing its popular along with Spring Boot because of the reliability it gives, it is a very powerful language.
            </p>
        </div>
    </div>
</div>
