<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="frameTitle">Angular</h1>
            <h2 class="frameInventor">Inventor: Miško Hevery  </h2>
            <p class="frameDesc">
                Angular is a typescript based free and open source web developing framework, which was made by the Google angular team, its a complete rewrite of AngularJS. Its used for creating single page web platforms, one of the most powerful property of it is navigating without any loading.
            </p>
        </div>
    </div>
</div>
