
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="frameTitle">Spring Boot</h1>
            <h2 class="frameInventor">Inventor: Rod Johnson</h2>
            <p class="frameDesc">
                Spring Boot is a web developing backend based framework. It is used along with Java, as its a framework of Java. It has password encoding, complete routing, and perfect Database communication features like Hibernate. Its can be used along with Angular, and its very famous.
            </p>
        </div>
    </div>
</div>
