<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="langTitle">C#</h1>
            <h2 class="langInventor">Inventor: Dennis M. Ritchie</h2>
            <p class="langDesc">
                C# is an object oriented language, the syntax is very similar to Java. Microsoft wanted to get Java, then they made their own. It has a huge popularity among web developers. Windows applications, Games, or web pages. The choice is yours what you will use it for, unity game engine is using C# as their developer language.
            </p>
        </div>
    </div>
</div>
