<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="langTitle">JavaScript</h1>
            <h2 class="langInventor">Inventor: Brendan Erich</h2>
            <p class="langDesc">
                Scripting language which allows you implement complex features on a webpage, javascript gives the functionality of your webpage.
                Usually a webpage has three layers, first is HTML, second is CSS, then the third is JavaScript. Html gives the structure of your webpage, CSS paints it, then JavaScript makes it alive.
            </p>
        </div>
    </div>
</div>
